# Build and temp files --------------------------
/build/
/temp/
temp
temp.*
*.csv

# Binaries --------------------------------------
/bin/
/dist/

# Editor files ----------------------------------
### VS Code ###
/.vscode/

### Clion ###
.idea

### Bitpocket ###
/.bitpocket/
.bitignore


