# Build and temp files --------------------------
/build/
/temp/
temp.*
*.csv

# Binaries --------------------------------------
/bin/
/dist/
/.env/

# Editor files ----------------------------------
### VS Code ###
/.vscode/

### Bitpocket ###
/.bitpocket/
.bitignore
